{% extends 'base.html' %}

{% block title %}D_E_H{% endblock %}

{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Comodidades de cabañas</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">            
            <a href="{% url 'create_details_facilitie' %}" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Agregar comodidades</span>
            </a>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>cabañas</th>
                        <th>comodidades</th>
                        <th>estado</th>
                        <th>Acciones</th>                        
                    </tr>
                </thead>                
                <tbody>
                    {% for details_facilitie in details_facilities_list %}
                    <tr>
                    <td>{{ details_facilitie.publication_date }}</td>
                    <td>{{ details_facilitie.price }}</td>                                       
                    <td>
                        <form action="{% url 'details_facilitie_status' details_facilitie.id %}" method="POST">
                            {% csrf_token %}                            
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch{{ forloop.counter }}" {% if details_facilitie.status %} checked {% endif %} onchange="this.form.submit()">
                                <label class="custom-control-label" for="customSwitch{{ forloop.counter }}"></label>
                            </div>                     
                        </form>
                    </td>
                    <td>
                        <a href="" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    </tr>
                    {% endfor %}                                     
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}