{% extends 'base.html' %}

{% block title %}Library Store{% endblock %}

{% block content %}




    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Cabaña</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% if request.user.is_superuser or request.user.is_user %}          
                <a href="{% url 'create_lodging' %}" class="btn btn-primary btn-icon-split mb-3">
                    <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Crear cabaña</span>
                </a>
            {% endif  %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Capacidad</th>
                        <th>Descripcion</th>
                        <th>Tipo Cabaña</th>
                        {% if request.user.is_superuser or request.user.is_user %}     
                        <th>Estados</th>
                        {% endif  %}
                        <th>Acciones</th>                        
                    </tr>
                </thead>                
                <tbody>
                    {% for lodging in lodgings_list %}
                    <tr>
                    <td><img src="{{ lodging.image.url }}" alt="" width="50"></td>
                    <td>{{ lodging.name }}</td>
                    <td>{{ lodging.price }}</td>
                    <td>{{ lodging.capacity }}</td>
                    <td>{{ lodging.description }}</td>    
                    <td>{{ lodging.typelodging }}</td>   
                    {% if request.user.is_superuser or request.user.is_user %}                                      
                        <td>
                            <form action="{% url 'lodging_status' lodging.id %}" method="POST">
                                {% csrf_token %}                            
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch{{ forloop.counter }}" {% if lodging.status %} checked {% endif %} onchange="this.form.submit()">
                                    <label class="custom-control-label" for="customSwitch{{ forloop.counter }}"></label>
                                </div>                     
                            </form>  
                        </td>
                    {% endif  %}
                    <td>
                        <a href="" class="btn btn-info btn-circle btn-sm " data-bs-toggle="modal" data-bs-target="#modalId" data-lodging-id="{{ lodging.id }}" >
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="{% url 'edit_lodging' lodging.id %}" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'delete_lodging' lodging.id %}" class="deleteBtn btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    </tr>
                    {% endfor %}                                     
                </tbody>
            </table>
        </div>
    </div>





<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detalles del Cabaña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="lodging-details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para cargar detalles del libro en el modal
    function loadLodgingDetails(lodgingId) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "{% url 'detail_lodging' 0 %}".replace('0', lodgingId), true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        var data = JSON.parse(xhr.responseText);
                        console.log(data);
                        // Actualizar el contenido del modal con los detalles del libro
                        document.getElementById("lodging-details").innerHTML =
                            "<p><strong>Nombre:</strong> " + data.name + "</p>" +
                            "<p><strong>Precio:</strong> " + data.price + "</p>" +
                            "<p><strong>Imagen:</strong> " + data.description + "</p>";                
                        $('#modalId').modal('show'); // Mover esta línea aquí
                    } else {
                        console.error('Error fetching lodging details. Status code: ' + xhr.status);
                    }
                }
            };
            xhr.send();
        }


 // Asignar evento click a los botones de detalle del libro
 document.addEventListener("click", function (event) {
        if (event.target && event.target.dataset.lodgingId) {
            event.stopPropagation();
            var lodgingId = event.target.dataset.lodgingId;
            loadLodgingDetails(lodgingId);
        }
    });

</script>

<script>
    document.querySelectorAll('.deleteBtn').forEach(function(deleteBtn) {
    deleteBtn.addEventListener('click', function (event) {
        event.preventDefault(); 

        swal({
            title: "Estás seguro que deseas eliminar?",            
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {                
                window.location.href = this.getAttribute('href');              
            }
        });
    });
});
</script>

{% if messages %}
    {% for message in messages %}
        <script>
            swal({                
                text: "{{ message }}",
                icon: "{{ message.tags }}",
                button: "OK",
            });
        </script>
    {% endfor %}
{% endif %}

{% endblock %}