{% extends 'base.html' %}

{% block title %}Library Store{% endblock %}

{% block content %}

    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary text-center">Cabañas</h4>
    </div>
    <div class="card-body">
        <div class="text-center mb-3">
            {% if request.user.is_superuser or request.user.is_user %}
            <a href="{% url 'create_lodging' %}" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Crear Cabaña</span>
            </a>
            {% endif  %}
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                {% for lodging in lodgings_list %}
                <div class="col mb-4"> 
                    <div class="card h-100" style="width: 16rem;">
                        <img src="{{ lodging.image.url }}" class="card-img-top img-fluid" alt="..." style="max-height: 150px;">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ lodging.name }}</h5>
                            <p class="card-text">{{ lodging.description }}</p>
                            <p class="card-text">Precio: {{ lodging.price }}</p>
                        </div>
                        {% if user.is_staff %}
                        <div class="card-footer text-center">
                            <form action="{% url 'lodging_status' lodging.id %}" method="POST">
                                {% csrf_token %}                            
                                <div class="custom-control custom-switch d-inline-block">
                                    <input class="custom-control-input" type="checkbox" id="customSwitch{{ forloop.counter }}" {% if lodging.status %} checked {% endif %} onchange="this.form.submit()">
                                    <label class="custom-control-label" for="customSwitch{{ forloop.counter }}"></label>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-grid gap-2">
                                <a href="" class="btn btn-info btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#modalId" data-lodging-id="{{ lodging.id }}">Ver Detalles</a>
                                <a href="{% url 'edit_lodging' lodging.id %}" class="btn btn-warning btn-sm mb-1">Editar</a>
                                <a href="{% url 'delete_lodging' lodging.id %}" class="deleteBtn btn btn-danger btn-sm">Eliminar</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detalles de la Cabaña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="lodging-details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para cargar detalles del libro en el modal
    function loadLodgingDetails(lodgingId) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "{% url 'detail_lodging' 0 %}".replace('0', lodgingId), true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        var data = JSON.parse(xhr.responseText);
                        console.log(data);
                        // Actualizar el contenido del modal con los detalles del libro
                        document.getElementById("lodging-details").innerHTML =
                            "<p><strong>Nombre:</strong> " + data.name + "</p>" +
                            "<p><strong>Precio:</strong> " + data.price + "</p>" +
                            "<p><strong>Imagen:</strong> " + data.description + "</p>";                
                        $('#modalId').modal('show'); // Mover esta línea aquí
                    } else {
                        console.error('Error fetching lodging details. Status code: ' + xhr.status);
                    }
                }
            };
            xhr.send();
        }


 // Asignar evento click a los botones de detalle del libro
 document.addEventListener("click", function (event) {
        if (event.target && event.target.dataset.lodgingId) {
            event.stopPropagation();
            var lodgingId = event.target.dataset.lodgingId;
            loadLodgingDetails(lodgingId);
        }
    });

</script>

<script>
    document.querySelectorAll('.deleteBtn').forEach(function(deleteBtn) {
    deleteBtn.addEventListener('click', function (event) {
        event.preventDefault(); 

        swal({
            title: "Estás seguro que deseas eliminar?",            
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {                
                window.location.href = this.getAttribute('href');              
            }
        });
    });
});
</script>

{% if messages %}
    {% for message in messages %}
        <script>
            swal({                
                text: "{{ message }}",
                icon: "{{ message.tags }}",
                button: "OK",
            });
        </script>
    {% endfor %}
{% endif %}

{% endblock %}