{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container-fluid py-4">
  {% if request.user.is_superuser or request.user.is_user %}
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Total de pagos activos</p>
                  <h5 class="font-weight-bolder">
                    ${{ total_payments|floatformat:3 }}
                  </h5>
                  <p class="mb-0">
                    <span class="text-success text-sm font-weight-bolder">+55%</span>
                    since yesterday
                  </p>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                  <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">total usuarios</p>
                  <h5 class="font-weight-bolder">
                    {{costumers}}
                  </h5>
                  <p class="mb-0">
                    <span class="text-success text-sm font-weight-bolder">+3%</span>
                    since last week
                  </p>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                  <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Número total de reservas</p>
                  <h5 class="font-weight-bolder">
                    {{ total_reservations }}
                  </h5>
                  <p class="mb-0">
                    <span class="text-danger text-sm font-weight-bolder">-2%</span>
                    since last quarter
                  </p>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                  <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold"></p>
                  <h5 class="text-sm mb-0 text-uppercase font-weight-bold">
                    La hora actual es:
                  </h5>
                  <p class="mb-0">
                    <span class="text-success text-sm font-weight-bolder" id="hora"></span> 
                  </p>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                  <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%  endif  %}
    <div class="row mt-4">
      <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card z-index-2 h-100">
          <div class="card-header pb-0 pt-3 bg-gradient-dark">
            <h1 class="text-capitalize mt-3">Bienvenido  {{ usuario.first_name}}</h1>
            

          <div class="d-flex">
            
            <div class="card" style="width: 10rem;">
              <img src="{% static './img/bruce-mars.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title fs-6">Card title</h6>
                <p class="card-text fs-6">Some quick example text .</p>
                <a href="" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

    

          </div>








          </div>
          <div class="card-body p-1 bg-gradient-dark">
            <div class="chart">
              <div id="chart-line" class="chart-canvas mb-7 mt-1" >
                <h3 class="p-5 text-capitalize">Encontraras todo lo que buscas al precio adecuado para ti</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card card-carousel overflow-hidden h-100 p-0">
          <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-inner border-radius-lg h-100">
              <div class="carousel-item h-100 active" style="background-image: url('/static/img/carousel-1.jpg');
    background-size: cover;">
                <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                  <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                    <i class="ni ni-camera-compact text-dark opacity-10"></i>
                  </div>
                  <h5 class="text-white mb-1">Sigamos</h5>
                  <p>Mañana sera mejor</p>
                </div>
              </div>
              {% for lodging in lodgings %}
              <div class="carousel-item h-100" style="background-image: url('{{lodging.image.url}}');
    background-size: cover;">
                <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                  <h5 class="text-white mb-1">{{lodging.name}}</h5>
                  <p> {{lodging.description}} </p>
                </div>
              </div>
              {% endfor %}
              <div class="carousel-item h-100" style="background-image: url('/static/img/carousel-3.jpg');
    background-size: cover;">
                <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                  <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                    <i class="ni ni-trophy text-dark opacity-10"></i>
                  </div>
                  <h5 class="text-white mb-1">Share with us your design tips!</h5>
                  <p>Don’t be afraid to be wrong because you can’t learn anything from a compliment.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card ">
          <div class="card-header pb-0 p-3">
            <div class="d-flex justify-content-between">
              <h6 class="mb-2">Top pagos</h6>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center ">
              <tbody>
                {% for payment in payments %}
                <tr>
                  <td class="w-30">
                    <div class="d-flex px-2 py-1 align-items-center">
                      <div class="ms-4">
                        <h6 class="text-sm mb-0">{{ payment.reservation.id }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <h6 class="text-sm mb-0">{{ payment.date }}</h6>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <h6 class="text-sm mb-0">{{ payment.value }}</h6>
                    </div>
                  </td>
                  <td class="align-middle text-sm">
                    <div class="col text-center">
                      <h6 class="text-sm mb-0">{{ payment.methodpay }}</h6>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Categories</h6>
          </div>
          <div class="card-body p-3">

            <div class="table-responsive">
              <table class="table align-items-center ">
                <tbody>
                  {% for reservation in reservations %}
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div class="ms-4">
                          <h6 class="text-sm mb-0">{{ reservation.id }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <h6 class="text-sm mb-0">{{  reservation.price }}</h6>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>
    </div>
    <footer class="footer pt-3  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              Contigo aun en <script>
                document.write(new Date().getFullYear())
              </script>,
          
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>

<script>
  function mostrarHora() {
      var fecha = new Date();
      var horas = fecha.getHours();
      var minutos = fecha.getMinutes();
      var segundos = fecha.getSeconds();

      // Asegúrate de que los minutos y segundos tengan dos dígitos
      minutos = (minutos < 10) ? "0" + minutos : minutos;
      segundos = (segundos < 10) ? "0" + segundos : segundos;

      var horaActual = horas + ":" + minutos + ":" + segundos;

      // Mostrar la hora en el elemento con id "hora"
      document.getElementById("hora").innerHTML = horaActual;

      // Actualizar la hora cada segundo
      setTimeout(mostrarHora, 1000);
  }
</script>


{%endblock%}