{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Celestial Glamping</title>
  <link rel="stylesheet" href="{% static './css/styles.css' %}">
</head>
<body>

  <header class="header-landing">
    <div class="container">
      <div class="wrap-logo">
        <img src="{% static './img/logo-removebg-preview.png' %}" alt="" 
        class="logo-header">
      </div>
    </div>
  </header>

  <section class="hero-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h1>Celestial Glamping</h1>
          <p id="pee">Disfruta de nuestros increíbles glampings con los mejores precios y todo tipo de comodidades, no te quedes sin el tuyo.</p>
          <div class="wrap-cta">
            <a href="{% url 'login' %}" class="cta-a">Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="cate" class="section servicios-section">
    <div class="container">
      <div class="wrap-title-section">
        <h2>Categorías de Servicios</h2>
      </div>
  
      <div class="wrap-servicios-section">
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima1.webp' %}"  alt="">
            <p>Glamping fa</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">250.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima2.jpg' %}"  alt="">
            <p>Glamping bevo</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">200.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
       
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima3.webp' %}"  alt="">
            <p>Glamping pea</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">150.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
       
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima4.jpg' %}"  alt="">
            <p>Glamping true</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">300.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
       
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima7.webp' %}"  alt="">
            <p>Glamping gole</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">260.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
       
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima6.jpg' %}"  alt="">
            <p>Glamping cos</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">120.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
       
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima7.webp' %}"  alt="">
            <p>Glamping geo</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">180.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
       
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
        <a href="" class="item-servicios-section">
          <div id="im" class="card"> 
            <img src="{% static './img/ima8.webp' %}"  alt="">
            <p>Glamping pak</p>
            <div class="card-content">
                <h2>Celestial Glamping</h2>
                <p>Glampings de lujo</p>
                <p>DESCUBRE TU NUEVO HOGAR</p>            
                <div class="card-body">
                  <h5 class="card-title">Conjunto para parejas</h5>
                  <p class="card-text">200.000</p>
                  <a
                    href="#"
                    class="btn btn-primary active"
                    role="button"
                    >comprar</a
                  >
       
                </form class="fo">
                <p>Llámanos gratis al <a href="tel:1-800-000-0000">1-800-000-0000</a></p>
                </div>
              </div>
            </div>
        </a>
      </div>
    </div>
  </section>
  
  <section id="i" class="section two-column-section">
    <div class="container">
      <div class="wrap-title-section">
        <h2>Características de nuestros Servicios</h2>
      </div>
  
      <div class="wrap-two-column">
        <div class="wrap-img_two-column">
          <img src="{% static './img/cara.jfif' %}" alt="">
        </div>
  
        <div class="wrap-img_two-column">
          <div class="wrap-text-column">
            <h3 id="pa">Más Características</h3>
            <p>*Comodidad: A diferencia de acampar en una tienda de campaña, los alojamientos de glamping suelen contar con camas cómodas, ropa de cama de alta calidad, lindo mobiliario, decoración de lujo, y servicios de limpieza.</p>

            <p>*Naturaleza: Aunque los alojamientos de glamping ofrecen comodidades de alta calidad, suelen estar ubicados en lugares que ofrecen una inmersión total en la naturaleza, como bosques, praderas, montañas o playas.</p>
              
            <p>*Experiencia personalizada: A menudo, ciertos lugares de “glamping” ofrecen actividades y experiencias personalizadas para sus huéspedes, lo que hace que cada estancia sea única y adaptada a las necesidades y preferencias de cada viajero.</p>
              
            <p> *Eco-friendly: Muchos alojamientos de “glamping” se esfuerzan por ser sostenibles y respetuosos con el medio ambiente, utilizando materiales y prácticas ecológicas en su construcción y operación, lo que permite a los viajeros disfrutar de la naturaleza sin dañarla.</p>
            <div class="wrap-cta">
              <a href="" class="cta-a">Llamada a la acción</a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>

  <footer class="footer-section">
    <div class="container">
      <footer class="footer-section">
        <div class="wrap-footer-section">
          <div class="wrap-social-logos">
            <ul>
              <li>
                <a href="">
                  <img src="{% static './img/face.avif' %}" alt="" class="social-logo">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="{% static './img/twi.png' %}" alt="" class="social-logo">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="{% static './img/you.png' %}" alt="" class="social-logo">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="{% static './img/ins.avif' %}" alt="" class="social-logo">
                </a>
              </li>
            </ul>
          </div>
        </div>
    
        <div class="menu-footer-section">
          <div class="wrap-menu-footer-section">
            <ul>
              <li><a href=""></a>Inicio</li>
              <li><a href=""></a>Servicios</li>
              <li><a href=""></a>Contacto</li>
            </ul>
          </div>
        </div>
    
        <footer class="bg-primary text-white py-3">
          <div class="container">
            <p>&copy; nos puedes buscar en nuestras redes </p>
          </div>
      </footer>
    </div>
  </footer>
  
</body>
</html>
