{% extends 'base.html' %}

{% block title %}Library Store{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Detalle reserva</h4>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Código reserva</label>
                <input type="text" class="form-control" value="{{reservation.id}}" readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha reserva</label>
                <input type="text" class="form-control" value='{{reservation.daterr|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Documento Cliente</label>
                <input type="text" class="form-control" value="{{reservation.costumer.document}}" readonly />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nombre Cliente</label>
                <input type="text" class="form-control" value="{{reservation.costumer}}" readonly />
            </div>
        </div>
        <div class="d-flex">
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha inicio</label>
                <input type="text" class="form-control" value='{{reservation.datess|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha fin</label>
                <input type="text" class="form-control" value='{{reservation.dateff|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Valor</label>
                <input type="text" class="form-control" value="{{reservation.price}}" readonly />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Estado</label>
                <input type="text" class="form-control" value="{{reservation.rstatu}}" readonly />
            </div>
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Libros reservados</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Código Cabaña</th>
                        <th>Título</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lodging in rlodgings %}
                    <tr>
                        <td><img src="{{ lodging.lodging.image.url}}" alt="" width="50"></td>
                        <td>{{ lodging.lodging.name }}</td>
                        <td>{{ lodging.lodging.description}}</td>
                        <td>{{ lodging.price}}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Servicios reservados</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Código servicio</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in rservices %}
                    <tr>
                        <td><img src="{{ service.service.image.url}}" alt="" width="50"></td>
                        <td>{{ service.service.id }}</td>
                        <td>{{ service.service.name }}</td>
                        <td>{{ service.service.description }}</td>
                        <td>{{ service.price}}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Pagos realizados</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>                        
                        <th>Código servicio</th>
                        <th>Fecha</th>
                        <th>Método</th>
                        <th>Valor</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.date|date:"d/m/Y" }}</td>
                        <td>{{ payment.methodpay }}</td>
                        <td>{{ payment.value }}</td>
                        <td>{{ payment.status }}</td>                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}