{% extends 'base.html' %}

{% block content %}

<div class="card-header py-3 mb-3">
    <h4 class="m-0 font-weight-bold text-primary">Editar reserva de cabañas y servicios</h4>
</div>

<form action="" method="post">
    {% csrf_token %}
    <div class="d-flex">
        <div class="mb-3">
            <label for="datess" class="form-label">Fecha inicio</label>
            <input type="date" class="form-control" name="datess" id="datess" aria-describedby="helpId"
                placeholder="Ingresa una fecha de inicio" value="{{ reservation.datess|date:'Y-m-d' }}">
            <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="mb-3 mx-4">
            <label for="dateff" class="form-label">Fecha final</label>
            <input type="date" class="form-control" name="dateff" id="dateff" aria-describedby="helpId"
                placeholder="Ingresa una fecha de inicio" value="{{ reservation.dateff|date:'Y-m-d' }}">
            <small id="helpId" class="form-text text-muted"></small>
        </div>
    </div>

    <div id="dateErrorMessage" class="text-danger">
        {% if reservation.dateff <= reservation.datess %}
            ¡La fecha final debe ser despues a la fecha de inicio!
        {% endif %}
    </div>

    <!-- Mensaje de días y total -->
    <div id="message" class="text-success"></div>

    <!-- Selección de cliente -->
    <div class="mb-3">
        <label for="costumer" class="form-label">Cliente</label>
        {% if user.is_superuser %}
        <!-- Dropdown for administrators -->
        <select class="form-select" id="costumer" name="costumer">
            <option value="">Seleccionar cliente</option>
            {% for costumer in costumers_list %}
                <option value="{{ costumer.email }}" {% if costumer.email == reservation.costumer.email %} selected {% endif %}>{{ costumer.name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <!-- Readonly input for regular users -->
        <input type="text" class="form-control" id="costumer" name="costumer" value="{{ reservation.costumer.name }}" readonly>
        {% endif %}
        <small id="costumerError" class="form-text text-danger" style="display: none;">Por favor ingresa un cliente válido.</small>
    </div>
    
    

    <!-- Selección de cabañas -->
    <div class="mb-3">
        <label for="lodging" class="form-label">Cabañas</label>
        <div class="d-flex">
            <select class="form-control" name="lodging" id="lodging">
                <option value="">Selecciona una cabaña</option>
                {% for lodging in lodgings_list %}
                <option value="{{ lodging.id }}">{{ lodging.name }} - {{ lodging.price }}</option>
                {% endfor %}
            </select>
            <button type="button" onclick="addLodging(event)" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
            </button>
        </div>
    </div>

    <!-- Selección de servicios -->
    <div class="mb-3">
        <label for="service" class="form-label">Servicio</label>
        <div class="d-flex">
            <select class="form-control" name="service" id="service">
                <option value="">Selecciona un servicio</option>
                {% for service in services_list %}
                <option value="{{ service.id }}">{{ service.name }} - {{ service.price }}</option>
                {% endfor %}
            </select>
            <button onclick="addService(event)" type="button" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
            </button>            
        </div>
    </div>

    <!-- Mensaje de error -->
    <div id="error-message" class="text-danger"></div>

    <!-- Detalle reserva de cabañas y servicios -->
    <div class="card-header py-3 mb-3">
        <h4 class="m-0 font-weight-bold text-primary">Detalle reserva de cabañas y servicios</h4>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="treservations">
                {% for rlodging in rlodgings %}
                <tr>
                    <td>
                        <input type="hidden" name="lodgingId[]" value="{{ rlodging.id }}">
                        <input type="hidden" name="lodgingPrice[]" value="{{ rlodging.price }}">
                        {{ rlodging.lodging.name }}
                    </td>
                    <td>{{ rlodging.price }}</td>
                    <td>
                        <a href="{% url 'delete_booking_cabin' rlodging.id %}" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% for rservice in rservices %}
                <tr>
                    <td>
                        <input type="hidden" name="serviceId[]" value="{{ rservice.id }}">
                        <input type="hidden" name="servicePrice[]" value="{{ rservice.price }}">
                        {{ rservice.service.name }}
                    </td>
                    <td>{{ rservice.price }}</td>
                    <td>
                        <a href="{% url 'delete_service_cabin' rservice.id %}" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% if rlodgings|length == 0 and rservices|length == 0 %}
                <tr>
                    <td colspan="3">No hay registros</td>
                </tr>
                {% endif %}
            </tbody>
            <thead>
                <tr>
                    <th>Total (multiplicado por días):</th>
                    <th scope="col">
                    <input class="text-success font-weight-bold" style="border: none;" type="text" name="totalValue" id="totalValue" value="{{ total_with_days }}" readonly>
                    </th>
                    <th></th>
                </tr>
            </thead>            
        </table>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" onclick="return validateTotal()">Guardar cambios</button>
    </div>
</form>


</script>

<script>
    lodgings_added = [];
    services_added = [];

    function addLodging(event) {
        let lodgingSelect = $('select[name="lodging"]');
        let lodgingId = lodgingSelect.val();
        if (!lodgingId) return; // Si no se ha seleccionado ninguna cabaña, salir de la función
        let lodgingName = lodgingSelect.find('option:selected').text().split(' - ')[0];
        let lodgingPrice = lodgingSelect.find('option:selected').text().split(' - ')[1];
        lodgings_added.push(lodgingId);
        totalReservation(parseFloat(lodgingPrice));
        $('#treservations').append(`
        <tr id="${lodgingId}">                               
            <td>
                <input type="hidden" name="lodgingId[]" value="${lodgingId}">
                <input type="hidden" name="lodgingPrice[]" value="${lodgingPrice}">
                ${lodgingName}
            </td>
            <td>${lodgingPrice}</td>                
            <td>
                <a onclick='removeReservation(event, "lodging")' class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        `);
    }

    // Función para agregar un servicio a la tabla de detalle de reserva
    function addService(event) {
        let serviceSelect = $('select[name="service"]');
        let serviceId = serviceSelect.val();
        if (!serviceId) return; // Si no se ha seleccionado ningún servicio, salir de la función
        let serviceName = serviceSelect.find('option:selected').text().split(' - ')[0];
        let servicePrice = serviceSelect.find('option:selected').text().split(' - ')[1];
        services_added.push(serviceId);
        totalReservation(parseFloat(servicePrice));
        $('#treservations').append(`
        <tr id="${serviceId}">                                
            <td>
                <input type="hidden" name="serviceId[]" value="${serviceId}">
                <input type="hidden" name="servicePrice[]" value="${servicePrice}">
                ${serviceName}
            </td>
            <td>${servicePrice}</td>                
            <td>
                <a onclick='removeReservation(event, "service")' class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        `);
    }

    // Asegurarse de que el total se actualice también cuando se agregan o eliminan reservaciones
function totalReservation(value) {
    value = parseFloat(value);
    let total = parseFloat($('#totalValue').val() || 0);
    if (value >= 0) {
        total += isNaN(value) ? 0 : value; // Sumar si value es positivo o cero
    } else {
        total -= isNaN(value) ? 0 : Math.abs(value); // Restar el valor absoluto si value es negativo
    }
    $('#totalValue').val(total.toFixed(0));
}



    // Función para eliminar una reserva de la tabla y actualizar el total
function removeReservation(event, type) {
    event.preventDefault();
    let price = parseFloat(event.currentTarget.closest('tr').children[1].innerText);
    let days = calculateDays();
    let totalToSubtract = price * days; // Calcular el total a restar
    event.currentTarget.closest('tr').remove();
    updateTotalAndMessage(); // Actualizar el total después de eliminar la reserva
}

// Función para calcular el número de días entre dos fechas
function calculateDays() {
    var datess = new Date($('#datess').val());
    var dateff = new Date($('#dateff').val());
    var differenceInDays = Math.floor((dateff - datess) / (1000 * 60 * 60 * 24));
    return differenceInDays;
}

// Función para actualizar el total y mostrar el mensaje
function updateTotalAndMessage() {
    var total = 0;
    var differenceInDays = calculateDays();

    // Obtener los valores de las cabañas seleccionadas
    $('input[name="lodgingPrice[]"]').each(function() {
        var price = parseFloat($(this).val());
        if (!isNaN(price)) { // Verificar si el valor es un número válido
            total += price;
        }
    });
    // Obtener los valores de los servicios seleccionados
    $('input[name="servicePrice[]"]').each(function() {
        var price = parseFloat($(this).val());
        if (!isNaN(price)) { // Verificar si el valor es un número válido
            total += price;
        }
    });

    // Multiplicar el total por el número de días
    total *= differenceInDays;

    // Validar si la fecha final es posterior a la fecha de inicio o si no se ha agregado dateff
    if (differenceInDays <= 0 || $('#dateff').val() === '') {
        // Si la diferencia en días es menor o igual a cero o no se ha agregado dateff, mostrar un mensaje de error
        $('#dateErrorMessage').text('¡La fecha final debe ser despues de la fecha de inicio!');
        $('#messageContainer').hide(); // Ocultar el contenedor de mensaje
        total = 0; // Establecer total a 0
    } else {
        // Si la diferencia en días es válida, limpiar el mensaje de error
        $('#dateErrorMessage').text('');
    }

    // Mostrar el total multiplicado por el número de días
    $('#totalValue').val(total.toFixed(2));

    // Mostrar el mensaje con el total actualizado y el número de días
    $('#message').text('Se han agregado ' + (isNaN(differenceInDays) ? 0 : differenceInDays) + ' día(s). Total actualizado: ' + (isNaN(total) ? 0 : total.toFixed(2)));
    $('#messageContainer').show(); // Mostrar el contenedor de mensaje

    // Mostrar el mensaje adicional si el total se calcula por día
    if (differenceInDays > 0) {
        $('#additionalMessage').text('Para aplicar el total por día, vuelva a seleccionar la fecha hasta que se le aplique el total por fecha.');
        $('#additionalMessageContainer').show();
    } else {
        $('#additionalMessageContainer').hide();
    }
}


    function validateTotal() {
        let total = parseFloat($('#totalValue').val());
        if (total === 0 || $('#treservations tr').length === 0) {
            $('#error-message').text('Debes seleccionar al menos una cabaña/servicio y agregarlo, Total no puede ser 0.');
            return false;
        }
        return true;
    }

    // Validar el total al inicio
    $(document).ready(function() {
        validateTotal();
    });

    function updateTotal() {
        let total = 0;
        // Sumar los precios de las cabañas
        document.querySelectorAll('input[name="lodgingPrice[]"]').forEach(input => {
            total += parseFloat(input.value || 0);
        });
        // Sumar los precios de los servicios
        document.querySelectorAll('input[name="servicePrice[]"]').forEach(input => {
            total += parseFloat(input.value || 0);
        });
        // Mostrar el total si es un número, de lo contrario, mostrar cero
        document.getElementById('totalValue').value = isNaN(total) ? 0 : total.toFixed(0);
    }
    
    // Actualizar el total al cargar la página y cada vez que se modifique un precio
    document.addEventListener('DOMContentLoaded', function() {
        updateTotal();
    
        document.querySelectorAll('input[name="lodgingPrice[]"], input[name="servicePrice[]"]').forEach(input => {
            input.addEventListener('input', updateTotal);
        });
    });

    // Asegurarse de que el total se actualice también cuando se agregan o eliminan reservaciones
    function totalReservation(value) {
        value = parseFloat(value);
        let total = parseFloat($('#totalValue').val() || 0);
        total += isNaN(value) ? 0 : value; // Asegurarse de que value sea un número
        $('#totalValue').val(total.toFixed(0));
    }
    
    // Función para calcular el número de días entre dos fechas
    function calculateDays() {
        var datess = new Date($('#datess').val());
        var dateff = new Date($('#dateff').val());
        var differenceInDays = Math.floor((dateff - datess) / (1000 * 60 * 60 * 24));
        return differenceInDays;
    }

    function updateTotalAndMessage() {
        var total = 0;
        var differenceInDays = calculateDays();

        // Obtener los valores de las cabañas seleccionadas
        $('input[name="lodgingPrice[]"]').each(function() {
            var price = parseFloat($(this).val());
            if (!isNaN(price)) { // Verificar si el valor es un número válido
                total += price;
            }
        });
        // Obtener los valores de los servicios seleccionados
        $('input[name="servicePrice[]"]').each(function() {
            var price = parseFloat($(this).val());
            if (!isNaN(price)) { // Verificar si el valor es un número válido
                total += price;
            }
        });

        // Multiplicar el total por el número de días
        total *= differenceInDays;

        // Validar si la fecha final es posterior a la fecha de inicio o si no se ha agregado dateff
        if (differenceInDays <= 0 || $('#dateff').val() === '') {
            // Si la diferencia en días es menor o igual a cero o no se ha agregado dateff, mostrar un mensaje de error
            $('#dateErrorMessage').text('¡La fecha final debe ser a la fecha de inicio!');
            $('#messageContainer').hide(); // Ocultar el contenedor de mensaje
            total = 0; // Establecer total a 0
        } else {
            // Si la diferencia en días es válida, limpiar el mensaje de error
            $('#dateErrorMessage').text('');
        }

        // Mostrar el total multiplicado por el número de días
        $('#totalValue').val(total.toFixed(2));

        // Mostrar el mensaje con el total actualizado y el número de días
        $('#message').text('Se han agregado ' + (isNaN(differenceInDays) ? 0 : differenceInDays) + ' día(s). Total actualizado: ' + (isNaN(total) ? 0 : total.toFixed(2)));
        $('#messageContainer').show(); // Mostrar el contenedor de mensaje

        // Mostrar el mensaje adicional si el total se calcula por día
        if (differenceInDays > 0) {
            $('#additionalMessage').text('Para aplicar el total por día, vuelva a seleccionar la fecha hasta que se le aplique el total por fecha.');
            $('#additionalMessageContainer').show();
        } else {
            $('#additionalMessageContainer').hide();
        }
    }

    // Escuchar cambios en las fechas de inicio y fin para actualizar el total
    $('#datess, #dateff').on('change', function() {
        updateTotalAndMessage();
    });

    // Validar el formulario antes de enviarlo
    $('form').on('submit', function(event) {
        // Verificar si hay algún mensaje de error presente relacionado con la fecha final
        if ($('#dateErrorMessage').text() !== '') {
            // Si hay un mensaje de error de fecha final, impedir el envío del formulario
            event.preventDefault();
            // También podrías mostrar un mensaje al usuario indicando que hay errores que deben corregirse
            alert('Por favor, corrige los errores antes de enviar el formulario.');
        }
    });

    // Mostrar el total al cargar la página
    updateTotalAndMessage();

    // Mostrar el total cuando se ingresan los registros
    $('#treservations').on('DOMNodeInserted', function() {
        updateTotalAndMessage();
    });

    // Eliminar registro y actualizar total
    $('#treservations').on('DOMNodeRemoved', function() {
        updateTotalAndMessage();
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Función para actualizar el campo de total
    function updateTotal() {
        var total = 0;
        // Sumar los valores de los campos de precio de las cabañas
        $('input[name="lodgingPrice[]"]').each(function() {
            total += parseFloat($(this).val());
        });
        // Sumar los valores de los campos de precio de los servicios
        $('input[name="servicePrice[]"]').each(function() {
            total += parseFloat($(this).val());
        });
        // Mostrar el total en el campo correspondiente
        $('#totalValue').val(total.toFixed(2));
    }

    // Escuchar cambios en los campos de precio de las cabañas y servicios
    $('input[name="lodgingPrice[]"], input[name="servicePrice[]"]').on('input', function() {
        updateTotal();
    });

    // Calcular el total al cargar la página
    updateTotal();
});

</script>
<script>
$(document).ready(function() {
    // Función para calcular el número de días entre dos fechas
    function calculateDays() {
        var datess = new Date($('#datess').val());
        var dateff = new Date($('#dateff').val());
        var differenceInDays = Math.floor((dateff - datess) / (1000 * 60 * 60 * 24));
        return differenceInDays;
    }

    function updateTotalAndMessage() {
        var total = 0;
        var differenceInDays = calculateDays();

        // Obtener los valores de las cabañas seleccionadas
        $('input[name="lodgingPrice[]"]').each(function() {
            var price = parseFloat($(this).val());
            if (!isNaN(price)) { // Verificar si el valor es un número válido
                total += price;
            }
        });
        // Obtener los valores de los servicios seleccionados
        $('input[name="servicePrice[]"]').each(function() {
            var price = parseFloat($(this).val());
            if (!isNaN(price)) { // Verificar si el valor es un número válido
                total += price;
            }
        });

        // Multiplicar el total por el número de días
        total *= differenceInDays;

        // Validar si la fecha final es posterior a la fecha de inicio o si no se ha agregado dateff
        if (differenceInDays <= 0 || $('#dateff').val() === '') {
            // Si la diferencia en días es menor o igual a cero o no se ha agregado dateff, mostrar un mensaje de error
            $('#dateErrorMessage').text('¡La fecha final debe ser despues de la fecha de inicio!');
            $('#messageContainer').hide(); // Ocultar el contenedor de mensaje
            total = 0; // Establecer total a 0
        } else {
            // Si la diferencia en días es válida, limpiar el mensaje de error
            $('#dateErrorMessage').text('');
        }

        // Mostrar el total multiplicado por el número de días
        $('#totalValue').val(total.toFixed(2));

        // Mostrar el mensaje con el total actualizado y el número de días
        $('#message').text('Se han agregado ' + (isNaN(differenceInDays) ? 0 : differenceInDays) + ' día(s). Total actualizado: ' + (isNaN(total) ? 0 : total.toFixed(2)));
        $('#messageContainer').show(); // Mostrar el contenedor de mensaje

        // Mostrar el mensaje adicional si el total se calcula por día
        if (differenceInDays > 0) {
            $('#additionalMessage').text('Para aplicar el total por día, vuelva a seleccionar la fecha hasta que se le aplique el total por fecha.');
            $('#additionalMessageContainer').show();
        } else {
            $('#additionalMessageContainer').hide();
        }
    }

    // Escuchar cambios en las fechas de inicio y fin para actualizar el total
    $('#datess, #dateff').on('change', function() {
        updateTotalAndMessage();
    });

    // Validar el formulario antes de enviarlo
    $('form').on('submit', function(event) {
        // Verificar si hay algún mensaje de error presente relacionado con la fecha final
        if ($('#dateErrorMessage').text() !== '') {
            // Si hay un mensaje de error de fecha final, impedir el envío del formulario
            event.preventDefault();
            // También podrías mostrar un mensaje al usuario indicando que hay errores que deben corregirse
            alert('Por favor, corrige los errores antes de enviar el formulario.');
        }
    });

    // Mostrar el total al cargar la página
    updateTotalAndMessage();

    // Mostrar el total cuando se ingresan los registros
    $('#treservations').on('DOMNodeInserted', function() {
        updateTotalAndMessage();
    });

    // Eliminar registro y actualizar total
    $('#treservations').on('DOMNodeRemoved', function() {
        updateTotalAndMessage();
    });
});
</script>

{% endblock %}